<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Hello Golang</title>
</head>
<body>

    <form method="post" action="/new">
        <p>体力<input type="text" name="health" value="{{.Health}}"></p>
        <p>物理防御<input type="text" name="armor" value="{{.Armor}}"></p>
        <p>攻撃力<input type="text" name="attackDamage" value="{{.AttackDamage}}"></p>
        <p>攻撃速度<input type="text" name="attackSpeed" value="{{.AttackSpeed}}"></p>
        <p><input type="submit" value="Send"></p>
    </form>

</body>
</html>